textarea {
  background: none;
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  display: block;
  width: 80%;
  border: none;
  border-bottom: 1px solid;
}

textarea:focus {
  outline: none;
  color: white;
}

input {
  background: none;
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  padding: 10px;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid;
}

input:focus {
  outline: none;
  color: white;
}