body {
    width: 100%;
    margin: 0;

}

/*-----------------------Header---------------------------*/
.header_home {
    position: relative;
    width: 100%;
    height: auto;
}

.header_text {
    position: absolute;
    margin: 5% 0 0 3%;
    top: 0;
    left: 0;
}

.header_text h1 {
    font-family: cursive;
    font-size: 5vw;
    color: #b7eafd;
}

.header_text h2 {
    color: #fff;
    transform: translate(8.5vw, -2.5vh);
}

.header_text h3 {
    color: #fff;
    margin: 30px 0px 10px 0;
    transform: translate(3.5vw, 5vh);
}

.header_img img {
    width: 100%;
    height: 100%;
    margin-top: -85px;
}

.header_text button {
    transform: translate(15vw, 4vh);
}

/*----------------------Services------------------------*/

.services_home {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.services_home p {
    margin-top: 10px;
}

.services_home table {
    margin-top: 0px;
}

.services_home td {
    padding: 10px;
    height: 200px;
    width: 300px;
    text-align: center;
}

.services_home .icon {
    width: 5vw;
    height: 5vh;
    color: #60cbfe;
}

/*--------------------------Mision----------------------------------*/
.mision_home {
    display: flex;
    width: 100%;
    background-color: #bdedff;
    max-height: 600px;
}
.mision_home .left{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mision_home .mision_text{
    display:block;
    margin-left: 15%;
    margin-right: 5%;
}
.mision_home h2{
    font-family: 'Times New Roman', Times, serif;
    color: #026266;
}
.mision_home .right {
    float:right;
    top:0 !important;
}
.mision_home img{
    width: 50vw;
    max-height: 600px;
    opacity:0.7;
}


/*----------------------End------------------------*/
.end_home {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.end_home button {
    margin-top: 20px;
}
.end_home button:hover {
    box-shadow: -5px 5px 10px 0px rgb(8, 93, 96, 0.4);
}

/*---------------------Resposive------------------*/
/*Header*/
@media screen and (max-width: 1000px) {
    .header_home h3 {
        display: none;
    }

    .header_home button {
        transform: translate(15vw, -2vh);
    }
}

@media screen and (max-width: 750px) {
    .header_text {
        margin:0;
    }

    .header_text h2 {
        transform: translate(8.5vw, -1vh);
    }
}
@media screen and (max-width: 550px) {
    .header_text {
        margin-top:-5vh;
        margin-left: -5vw;
    }
    .header_text h2 {
        font-size: 5vw;
    }
}

/*Services*/

@media screen and (max-width: 900px) {
    .services_home table {
        margin-top: 0;
    }

    .services_home td {
        height: 5vh;
    }
}
/*Mision*/
@media screen and (max-width: 400px) {
    .mision_home img{
        height: 100%;
    }
}

/*--------------------------General------------------------*/
.button {
    padding: 0.5rem 1rem;
    color: #000;
    background: rgb(185, 238, 255, 0.7);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4vw;
    line-height: 3vh;
    cursor: pointer;
    border-radius: 10px;
    border-color: #000;
}

.button:hover {
    border-color: #033661;
    color: #033661;
    box-shadow: -5px 5px 10px 0px rgb(255, 255, 255, 0.6);
}

.h1 {
    color: #033661;
    font-family: cursive;
    font-size: 100px;
    margin-top: 50px;
}
.h2 {
    font-family: cursive;
    font-size: 3vw;
}
.h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8vw;
    font-weight: 100;
}
.p{
    font-size: 1.5vw;
}

@media screen and (max-width: 900px) {
    .h1 {
        font-size: 7vw;
        margin-top: 20px;
    }

    .button {
        padding-left: 5px;
        padding-right: 5px;
        line-height: 2px;
        cursor: pointer;
        border-color: #000;
        border-width: 1.8px;
    }
}