body {
    background-color: #6FBDBD;
}

.MapContainer{
    height: 70vh;
    margin: 20px;
}

.container_map{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.leaflet-container{
    z-index: -1 !important;
}