.signin_page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .signin_container{
    background: rgb(0, 61, 61, 0.5);
    box-shadow: 0 0 20px;
    border-radius: 20px;
    height: 450px;
    width: 400px;
    margin: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  form{
    width: 100%;
    margin: auto;
  }
  
  .label{
    margin-top: 45px;
    margin-left: 20px;
    position: relative;
  }
  
  input{
    background: none;
    color: #fff;
    font-family: var(--font-family);
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 80%;
    border: none;
    border-bottom: 1px solid;
  }
  
  input:focus{
    outline: none;
    color: white;
  }
  
  label{
    color: rgb(255, 255, 255, 50%);
    font-family: var(--font-family);
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
  }
  
  h1{
    color: #fff;
    text-align: center;
  }
  
  input:focus~label,
  input:valid~label{
    top: -14px;
    font-size: 12px;
    color: rgb(255, 255, 255, 70%);
  }
  
  .input_signin button{
    font-family: var(--font-family);
    margin-top: 30px;
    border-radius: 20px;
    border-color: #003E3E;
    display: block;
    width: 30%;
    margin: 60px 30%;
    background-color: #003E3E;
    color: #fff;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
  }
  
  .input_signin button:hover{
    border-color: #fff;
    transition: all 0.5s;
  }
  
  .signin_page img{
    width: 30%;
    margin-left: 15%;
    margin-top: 40px;
  }
  
  /*Responsive*/
  @media screen and (max-width: 900px){
    .signin_page img{
      display: none;
    }
  }